.animalX--modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.295);
}

.animalX--modal-share {
  width: 400px;
  position: absolute;
  margin: auto;
  height: auto;
  transition: all 0.2s ease;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  .animalX--modal-share {
    width: 100%;
  }
}

.animalX--modal-share__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.animalX--modal-share__header > p {
  font-size: 18px;
  font-weight: 500;
}

.animalX--modal-share__header > svg {
  position: absolute;
  left: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.animalX--modal-share__header > svg:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.animalX--modal-share__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease;
  padding-bottom: 8px;
}

.animalX--modal-share__content > div {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  padding: 15px 20px;
  cursor: pointer;
}

.animalX--modal-share__content > div:hover {
  background-color: rgb(247, 246, 246);
}

.animalX--modal-share__content > div > svg {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.animalX--modal-share__content > div > p {
  font-style: 16px;
  font-weight: 400;
  color: rgb(63, 63, 63);
}

.animalX--modal-search {
  width: 300px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 11px;
}

.animalX--modal-search > form {
  display: flex;
  align-items: center;
  width: 100%;
}

.animalX--modal-search > form > input {
  height: 45px;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 15px;
  width: 100%;
}

.animalX--modal-search > form > button {
  margin-left: 10px;
  width: 45px;
  max-width: 45px;
  min-width: 45px;
  height: 45px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #f7b803;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.animalX--modal-search > form > button:hover {
  opacity: 0.7;
}

.animalX--modal-search > form > button > svg {
  width: 27px;
  height: 27px;
}

/***/

.animalX--modal-user {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 290px;
  height: auto;
  border-radius: 15px;
  z-index: 999;
  position: absolute;
  padding: 8px;
  top: 12px;
  transition: all 0.3s ease;
  right: 12px;
}

.animalX--modal-user__infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 10px;
}

.animalX--modal-user__infos > img {
  width: 92px;
  height: 92px;
  border-radius: 100%;
  object-fit: cover;
}

.animalX--modal-user__infos > p {
  margin-top: 7px;
  font-size: 16.5px;
  font-weight: 600;
  color: #393e49;
  text-align: center;
}

.animalX--modal-user__infos > h5 {
  font-size: 13px;
  font-weight: 400;
  color: #8c8f99;
  text-align: center;
}

.animalX--modal-user__opt {
  padding: 14px 15px;
  font-size: 16.5px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 15px;
  color: #31333a;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.animalX--modal-user__opt > svg {
  margin-right: 12px;
}

.animalX--modal-user__opt > svg path {
  fill: rgb(108, 110, 119);
}

.animalX--modal-user__opt:hover {
  background-color: #f6f7fa;
}
