.animal-x-btn-top {
  background-color: var(--color-second);
  color: #fff;
  display: flex;
  width: 48px;
  transition: all 0.3s ease;
  right: 9px;
  bottom: 9px;
  cursor: pointer;
  height: 48px;
  border-radius: 100%;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.animal-x-btn-top:hover {
  opacity: 0.8;
}

/* LOADING */

.lds-ellipsis {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 0.3rem solid #99d4ff;
  border-top-color: #fff;
  animation: 1s loading infinite linear;
  transition: all 0.3s ease;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 95px;
}

.notItem {
  font-size: 17px;
  font-weight: 500;
  color: #394247;
}

.notItem > a {
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-primary);
}

.notItem > a:hover {
  opacity: 0.7;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
