.animalX--filter {
  width: 100%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  position: relative;
  bottom: -50px;
}

.animalX--filter__categorys {
  display: flex;
  align-items: center;
}

.animalX--filter__categorys > button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  width: 151px;
  height: 36px;
  font-size: 16px;
  color: #fff;
  border-radius: 17px 17px 0px 0px;
}

.animalX--filter__types {
  display: flex;
  height: 58px;
  align-items: center;
  width: 100%;
  background-color: #99d4ff;
}

.animalX--filter__types-filters {
  display: flex;
  align-items: center;
}

.animalX--filter__types-search {
  background: #f7b803;
  border-radius: 53px;
  width: 222px;
  min-width: 222px;
  max-width: 222px;
  height: 68px;
  position: relative;
  margin-left: auto;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease;
}

.animalX--filter__types-search:hover {
  background: #ebb208;
}

.animalX--filter__types-search:active {
  transform: scale(0.97);
}

.animalX--filter__types-search > p {
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
}

/** BTN FILTERS **/

.animalX--buttonFilter {
  display: flex;
  align-items: center;
  padding: 0px 13%;
  height: 34px;
  position: relative;
  cursor: pointer;
  background-color: #99d4ff;
  transition: all 0.3s ease;
  border-right: 2px solid rgba(180, 186, 203, 0.8);
}

.animalX--buttonFilter > p {
  font-size: 17.5px;
  color: #424960;
  margin-right: 10px;
}

.animalX--buttonFilter-active {
  position: absolute;
  top: 45px;
  width: 245px;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 28px 8px rgba(158, 158, 158, 0.123);
}

.animalX--buttonFilter-active > p {
  cursor: pointer;
  padding: 14px 18px;
  transition: all 0.3s ease;
  background: rgb(255, 255, 255);
  font-size: 17px;
  color: #383c49;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.animalX--buttonFilter-active > p:hover {
  background: rgb(245, 244, 244);
}
/* RESPONSIVE */

@media (max-width: 1000px) {
  .animalX--header__left-pets-cachorro {
    width:120px;
    height: 100px;
    top: -20px;
    right: 120px;
    z-index: -1;
  }
}

@media (max-width: 778px) {
  .animalX--header__left-pets {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    align-items: flex-end;
  }
}

@media (max-width: 1276px) {
  .animalX--filter__types-search {
    right: -30%;
  }
}

@media (max-width: 1156px) {
  .animalX--filter__types-search {
    right: -35%;
    margin-left: 10px;
  }
}

@media (max-width: 810px) {
  .animalX--filter__types-search {
    right: -30%;
    margin-left: 15px;
  }
  .animalX--filter__types {
    height: 55px;
    width: 100%;
    border-radius: 0px 20px 20px 0px;
  }
}

@media (max-width: 760px) {
  .animalX--filter__types-search {
    right: -32%;
    margin-left: 15px;
  }
  .animalX--filter__types {
    height: 55px;
    width: 100%;
    border-radius: 0px 20px 20px 0px;
  }
  .animalX--filter__types-search {
    right: -36%;
    margin-left: 15px;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    margin: 0;
  }
  .animalX--filter__types-search > p {
    display: none;
  }
}

@media (max-width: 570px) {
  .animalX--filter__types-search {
    position: absolute;
    left: 44%;
    right: auto;
    bottom: -40px;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    height: 50px;
  }
  .animalX--filter__types-search > svg {
    width: 27px;
    height: 27px;
  }
  .animalX--header__right {
    position: absolute;
    right: 10px;
    top: 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .animalX--header__left > img {
    width: 250px;
    margin-top: 80px;
  }
  .animalX--filter__types {
    height: 50px;
    width: 100%;
    border-radius: 0;
  }
  .animalX--header {
    padding: 10px;
  }
  .animalX--filter__categorys > button {
    width: 120px;
    height: 35px;
    font-size: 15px;
  }
  .animalX--buttonFilter {
    padding: 0px 9.5%;
    height: 32px;
  }

  .animalX--buttonFilter > p {
    font-size: 15px;
  }
}

@media (max-width: 418px) {
  .animalX--header {
    padding: 0px;
    height: 335px;
  }
  .animalX--header__left > img {
    width: 190px;
    margin-top: 80px;
  }
  .animalX--header__left-pets-gato {
    width:100%;
    height: 280px;
  }
  .animalX--header__left-pets-cachorro {
    width:120px;
    height: 100px;
    top: -30px;
    right: 120px;
    z-index: -1;
  }
  .animalX--header__right-btns {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    padding: 15px;
    display: flex;
  }
  .animalX--filter__categorys > button {
    width: 110px;
    height: 35px;
    font-size: 14px;
  }
  .animalX--buttonFilter {
    padding: 0px 22px;
    width: auto;
    height: 30px;
  }
  .animalX--filter__types {
    height: 50px;
    width: auto;
    border-radius: 0;
  }
  .animalX--buttonFilter > p {
    font-size: 14px;
  }
  .animalX--filter__types-search {
    position: fixed;
    bottom: 9px;
    left: 9px;
    width: 48px;
    max-width: 48px;
    z-index: 999;
    min-width: 48px;
    height: 48px;
  }
}

@media (max-width: 378px) {
  .animalX--buttonFilter {
    padding: 0px 16px;
    width: auto;
    height: 30px;
  }
}

@media (max-width: 358px) {
  .animalX--buttonFilter {
    padding: 0px 17px;
    width: auto;
    height: 30px;
  }
}

@media (max-width: 340px) {
  .animalX--buttonFilter {
    padding: 0px 15px;
    width: auto;
    height: 30px;
  }
}
