.animalX--content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  flex-wrap: wrap;
  position: relative;
}

.animalX--content__pata {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/** CARD **/

.animalX--card__pet {
  margin: 30px 22px;
  width: 268px;
  height: 406px;
  background: #ffffff;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  transition: all 0.3s ease;
}

.animalX--card__pet:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.25);
}

.animalX--card__pet-image {
  width: 100%;
  height: 219px;
}

.animalX--card__pet-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 22px 22px 15px 15px;
}

.animalX--card__pet-image > img:hover {
  opacity: 0.7;
}

.animalX--card__pet-content {
  padding: 10px 22px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 21px;
}

.animalX--card__pet-content-location {
  color: #f7b803;
  font-size: 11px;
  margin-top: -4px;
}

.animalX--card__pet-content-name {
  display: flex;
  position: relative;
  left: -15px;
  align-items: center;
}

.animalX--card__pet-content-name > p {
  font-size: 19px;
  font-weight: bold;
  color: #f7b803;
  margin-left: 4px;
}

.animalX--card__pet-content-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animalX--card__pet-content-infos__tamanho {
  display: flex;
  align-items: center;
}

.animalX--card__pet-content-infos__tamanho > svg {
  cursor: pointer;
}

.animalX--card__pet-content-infos__tamanho > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  margin: 11px 8px;
  height: 31px;
  border: 2px solid rgba(78, 84, 110, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: rgba(66, 73, 96, 0.5);
}

.animalX--card__pet-content-infos__description {
  font-size: 12px;
  text-align: center;
  color: #f7b803;
}

/* SITUAÇÃO */

.animalX--card__situacao {
  background: #fde0ad;
  border: 2px solid #ef9a13;
  box-sizing: border-box;
  border-radius: 57px;
  width: 92%;
  margin-top: -20px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.animalX--card__situacao > button {
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  height: 100%;
  font-weight: 500;
  font-size: 16.5px;
  color: #ef9a13;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 57px;
  transition: all 0.3s ease;
}

.animalX--card__situacao > button:hover {
  opacity: 0.7;
}

/**/

.animalX--card__ilustrator {
  position: absolute;
  left: 8.21%;
  right: 69%;
  top: 80.05%;
  bottom: 7.39%;
}

.animalX--card__pet-whatsapp {
  position: absolute;
  bottom: -32px;
}

.animalX--notPets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.animalX--notPets > svg {
  width: 110px;
  height: 110px;
}

.animalX--notPets > svg path {
  fill: #fcce7f;
}

.animalX--notPets > p {
  font-size: 21px;
  font-weight: 500;
  color: rgb(44, 44, 58);
  margin-top: 25px;
}

/* RESPONSIVE */

@media (max-width: 400px) {
  .animalX--content {
    justify-content: flex-start;
    padding: 60px 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .animalX--card__pet {
    margin: 30px 22px;
    width: 260px;
    height: 385px;
    background: #ffffff;
  }
  .animalX--card__pet-image {
    height: 195px;
  }
}
