.animalX--header {
  background-color: #ffe9c2;
  width: 100%;
  display: flex;
  height: 420px;
  padding: 20px;
  justify-content: space-between;
  position: relative;
}

.animalX--header__pata {
  position: absolute;
  left: 0;
  top: 0;
}

/** LEFT HEADER **/

.animalX--header__left {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  align-items: center;
  flex: 1;
}

.animalX--header__left-pets {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: -30px;
  align-items: flex-end;
  right: -25px;
}

.animalX--header__left > img {
  width: 330px;
  margin: 20px auto;
}

/** RIGHT HEADER **/

.animalX--header__right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.animalX--header__right > img {
  width: 90%;
  position: relative;
  margin-left: auto;
  bottom: -43px;
}

.animalX--header__right-btns {
  width: fit-content;
  margin-left: auto;
  padding: 10px;
  display: flex;
}

.animalX--header__right-btns > button {
  transition: all 0.3s ease;
}

.animalX--header__right-btns > button:hover {
  opacity: 0.8;
}

.animalX--header__right-btns-entrar {
  width: 90px;
  height: 36px;
  font-weight: 400;
  font-size: 16.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0);
  margin-right: 20px;
}

.animalX--header__right-btns-cadastro {
  width: 110px;
  height: 36px;
  font-weight: 400;
  font-size: 16.5px;
  display: flex;
  cursor: pointer;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  background: #424960;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
